.nav li {
    float: left;
    list-style-type: none;
    margin-left: 50px;
    display: block;
}
.nav{
   display: flex;
}
.nav{
    border:solid 1px black;
}
.content{
    border:solid 1px black;
    height:300px;
}
.container{
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
}
.main{
    background-color: silver;
}